<div class="header"
     data-component="header">
  <div class="header__logo-container"
       data-element="header__logo-container">
  </div>
  <div class="header__button-header-container"
       data-element="header__button-header-registration-container">
  </div>
  <div class="header__button-header-container"
       data-element="header__button-header-login-container">
  </div>
</div>
