<div data-component="header"
     class="header">
  <div data-element="header__logo-container"
       class="header__logo-container">
  </div>
  <div data-element="header__button-registration-page-container"
      class="header__button-registration-page-container">
  </div>
  <div data-element="header__button-login-page-container"
      class="header__button-login-page-container">
  </div>
</div>
