<div class="page"
     data-component="page">
  <header class="page__header-container"
          data-element="page__header-container">
  </header>
  <main class="page__main-container"
        data-element="page__main-container">
  </main>
</div>
