.logo {
  background-color: rgb(247, 247, 247);
  height: 100%;
}

.logo__link {
  height: 100%;
  display: inline-block;
  font-size: 0;
}


.logo__link:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}


.logo__img {
  height: 60%;
  vertical-align: middle;
}

@media all and (max-height: 600px), all and (max-width: 600px) {
   .logo__img {
     height: 50%;
   }
}
