<div class="logo"
     data-component="logo"
     {{{tabindex}}}>
  <a href="http://localhost:3000"
     class="logo__link">
    <img class="logo__img"
         data-component="logo__img"
         src="{{imgUrl}}" alt="logo">
  </a>
</div>
