<div class="logo"
     data-component="logo">
  <a href="http://localhost:3000"
     class="logo__link"
     data-element="logo__link"
     {{{tabindex}}}>
    <img class="logo__img"
         data-element="logo__img"
         src="{{imgUrl}}"
         alt="logo">
  </a>
</div>
