<div data-component="login"
     class="login">
  <div data-element="login__main-container"
       class="login__main-container">
    <h2 class="login__describe">
    Вход в Driver
    </h2>
    <div data-element="login__form-container"
         class="login__form-container">
    </div>
  </div>
</div>
