<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Выбор приложения</title>
</head>
<body>
  <script type="text/javascript" src="http://localhost:3000/selection.js"></script>
</body>
</html>
