<form data-component="form-login"
      class="form-login">
  <input type="email"
         name="email"
         placeholder="Почта"
         class="input form-login__email"
         required>
  <input type="password"
         name="password"
         placeholder="Пароль"
         class="input form-login__password"
         required>
  <input type="submit"
         name="submit"
         value="ВОЙТИ"
         class="button form-login__submit"
         data-element="form-login__submit">
</form>
