.application {
  width: 100%;
  height: 100%;
  position: relative;

  &__map-container {
    width: 100%;
    height: 100%;
  }

  &__menu-search-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
  }
}
