<div class="application"
     data-component="application">
  <div class="application__map-container"
       data-element="application__map-container">
  </div>
  <div class="application__menu-search-container hidden"
      data-element="application__menu-search-container">
  </div>
</div>
