@import 'components/__shared/css/variables.scss';

.header {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: $white;

  &__button-header-container {
    float: right;
    height: 100%;
  }
  &__logo-container {
    height: 100%;
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 420px) {
  .header__logo-container {
    margin-left: 10px;
  }
}
