<div data-component="page"
     class="page">
  <header data-element="page__header-container"
          class="page__header-container">
  </header>
  <main data-element="page__main-container"
       class="page__main-container">
  </main>
  <footer data-element="page__footer-container"
          class="page__footer-container">
  </footer>
</div>
