html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  width: 100%;
  background: linear-gradient(25deg, rgba(39, 171, 255, 0.6) 0%, rgba(39, 171, 255, 0.95) 25%, rgba(46, 180, 255, 1) 25.05%, rgba(46, 180, 255, 0.8) 75%, rgba(39, 171, 255, 0.65) 75.01%, rgba(39, 171, 255, 0.3));
}
