<form class="form-registration">
      <input type="text"
             placeholder="Имя"
             class="input form-registration__name"
             required>
      <p class="form-registration__tip-email hidden"
        data-element="form-registration__tip-email">
      </p>
      <input type="email"
             placeholder="Почта"
             class="input form-registration__email"
             required>
      <p class="form-registration__tip-password hidden"
       data-element="form-registration__tip-password">
      </p>
      <input type="password"
             name="password"
             placeholder="Пароль"
             class="input form-registration__password"
             required>
      <p class="form-registration__tip-password hidden"
      data-element="form-registration__tip-password">
      </p>
      <input type="password"
             name="password"
             placeholder="Повторите пароль"
             class="input form-registration__password-confirmation"
             required>
      <input type="submit"
             name="submit"
             value="ДАЛЕЕ"
             class="button form-registration__submit">
</form>
