<div data-component="registration"
     class="registration">
  <div data-element="registration__main-container"
       class="registration__main-container">
    <h2 class="registration__describe">
    Создание аккаунта Driver
    </h2>
    <div data-element="registration__form-container"
         class="registration__form-container">
    </div>
  </div>
</div>
